<div id="threed-graph"></div>
<div class="Menu">
  <label class="lbl">Graph file</label>
  <input type="file" (change)="fileChanged($event)" />

  <div *ngIf="forceGraph">
    <div class="option node-size">
      <label class="lbl">Display style</label>
      <input type="radio" name="displayType" value="" checked="checked" (click)="nodes()"/>
      <span>Nodes</span>
      <input type="radio" name="displayType" (click)="labels()"/>
      <span>Labels</span>
    </div>
    <div class="option">
      <label class="lbl">Node size</label>
      <input id="dashboard-node--size"
        type="number"
        [value]="nodeSize"
        (change)="nodeSizeChanged($event)"
      />
    </div>
    <div class="option">
      <label class="lbl">Color scheme file</label>
      <input type="file" (change)="colorSchemeChanged($event)" />
    </div>
    <div class="option node-size">
      <label class="lbl">Filter</label>
      <input type="radio" name="filter" value="" checked="checked" (click)="dependencies()" />
      <span>Dependencies</span>
      <input type="radio" name="filter" (click)="dependants()" />
      <span>Dependants</span>
    </div>
    <div class="option">
      <input style="max-width: 200px;" [value]="filterValue" (change)="doFilter($event)" />
    </div>
  </div>
</div>

<div id="menu" #menu>
  <button (click)="showDependencies($event)">Show dependencies</button>
  <button (click)="showDependants($event)">Show dependants</button>
</div>
